{% load static %}
{% block body %}
  {% include 'recruiter_navigation.html' %}
  <hr>

<form name="signup" class="container mt-5" onsubmit="return checkpass();" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Job Tittle</label>
            <input type="text" class="form-control" name="jobtitle" value="{{job.tittle}}">
        </div>
    </div> 
    
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Start Date</label>[{{job.start_date}}]
            <input type="date" class="form-control" name="startdate">
        </div>
        <div class="form-group col-md-6">
            <label>End Date</label>[{{job.end_date}}]
            <input type="date" class="form-control" name="enddate">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Salary</label>
            <input type="text" class="form-control" name="salary" value="{{job.salary}}">
        </div>

        <div class="form-group col-md-6">
            <label>Company Logo</label>
            <img src="{{job.image.url}}" width="120" height="90"><a href="{% url 'change_companylogo' job.id %}">Change Company Logo</a>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Experience(In Years)</label>
            <input type="text" class="form-control" name="experience" value="{{job.experience}}">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Company Location</label>
            <input type="text" class="form-control" name="location" value="{{job.location}}">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Skills</label>
            <input type="text"  class="form-control" name="skills" value="{{job.skills}}">
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Description</label>
            <textarea class="form-control" name="description" value="{{job.description}}"></textarea>
        </div>
    </div>
        

    <input type="submit" value="Submit" class="btn btn-primary my-3" style="width:200px">
</form>

{% include "footer.html" %}

{% if error == "no" %}
<script>
    alert("Job detail has been posted successfully");
    window.location = ('{% url "edit_jobdetail" job.id %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert("Facing issue. Try Again!!");
</script>
{% endif %}

  {% include "footer.html" %}
{% endblock %}