{% extends 'base.html' %}
{% load static %}
{% block body %}
{% include 'recruiter_navigation.html' %}
<hr>
<div class="container">
    <div class="row">
      <div class="col-sm-8">

      
<form name="signup"   method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>First Name</label>
            <input type="text" class="form-control" name="fname" value="{{recruiter.user.first_name}}" >
        </div>

        <div class="form-group col-md-6">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lname" value="{{recruiter.user.last_name}}" >
        </div>

        <div class="form-group col-md-6">
            <label>Contact</label>
            <input type="text" class="form-control" name="contact" value="{{recruiter.mobile}}">
        </div>
        <div class="form-group col-md-6">
            <label>Company</label>
            <input type="text" class="form-control" name="company" value="{{recruiter.user.company}}" readonly>
        </div>

        <div class="form-group col-md-6">
            <label>Email Id</label>
            <input type="email" class="form-control" name="email" value="{{recruiter.user.username}}" readonly>
        </div>

        <div class="form-group col-md-6">
            <label>Gender</label>
            {% if recruiter.gender == "male" %}
            <div style="border: 1px solid lightgrey; padding: 5px; border-radius: 6px">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="gender" class="custom-control-input" value="Male" checked>
                    <label class="custom-control-label" for="customRadioInline1">Male</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="gender" class="custom-control-input" value="Female">
                    <label class="custom-control-label" for="customRadioInline2">Female</label>
                </div>
            </div>
            {% else %}
             <div style="border: 1px solid lightgrey; padding: 5px; border-radius: 6px">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="gender" class="custom-control-input" value="Male" checked>
                    <label class="custom-control-label" for="customRadioInline1">Male</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="gender" class="custom-control-input" value="Female">
                    <label class="custom-control-label" for="customRadioInline2">Female</label>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="form-group col-md-6">
            <label>Image</label>
            <input type="file" class="form-control" name="image">
        </div>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary my-3" style="width:200px">
</form>
    </div>
    <div class="col-sm-4 mt-5 text-center">
       <img src="{{recruiter.image.url}}" width="300px" height="300px">
    </div>
      </div>
</div>
{% include "footer.html" %}

{% if error == "no" %}
<script>
    alert("Profile updated successfully");
    window.location = ('{% url "recruiter_home" %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert("Facing issue. Try Again!!");
</script>
{% endif %} 

{% include "footer.html" %}
{% endblock %}